.is-mobile {
    .c-scroll {
        display: none;
    }

    .c-header__holder {
        display: flex;
        flex-direction: column;

        .c-header__title {
            padding-bottom: 18px;
        }
    }

    .c-card__wrapper {
        width: 35%;
    }

    .c-section {
        position: relative;
        overflow: unset;
    }

    .c-section__wrapper {
        transform: translate3d(0, 0, 0) !important;
    }

    .c-section-container__cards {
        overflow: scroll;
    }

    .search-page {
        .c-card__holder {
            width: 50%;
        }
    }
}
