@use "./components/components.scss";
@use "./layout/layout.scss";

.meni {
    background-color: red;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background: #141414;
}
