@use "../abstracts/variables" as abstract;

.c-card {
    &__wrapper {
        width: 10%;
        font-family: "Helvetica";
        position: relative;
        display: inline-block;
        transform: translate3d(0, 0px, 0px);

        &.slider-animation {
            transition: all 0.8s ease-in;
        }

        &.card-animation {
            transform: translate3d(-100%, 0px, 0px);
        }
    }

    &__holder {
        margin-right: 8px;

        &--16-9 {
            position: relative;
            padding-top: 140.476%;
        }

        &--position {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        &--img-url {
            border-radius: 8px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    &__hover {
        z-index: 3212;
        position: absolute;
        border-radius: 4px;
        opacity: 1;
        width: 16%;
        border-radius: 4px;
        cursor: pointer;

        &__content {
            display: flex;
            transition: all 0.2s ease-in, opacity 0.6s linear;
            transform: scale(0.3);
            opacity: 0;

            &.animate {
                opacity: 1;
                transform: scale(1);
            }
        }

        &--img-url {
            border-top-left-radius: 4px;
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--overlay {
            background-color: rgba(0, 0, 0, 0.803);
        }
    }
    &--radius {
        border-radius: 4px;
    }

    &__details {
        color: #fff;

        &--spacing {
            margin: 10px 20px;
        }

        &--text {
            font-weight: bold;
            font-size: 24px;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
        }

        &--genres {
            display: flex;
            align-items: center;
        }

        &--delimiter {
            margin: 0 4px;
            min-width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #777373b0;
        }

        &--buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        &--rating {
            background-color: #fff8d6;
            border-radius: 4px;
            color: #333;
            padding: 2px 8px;

            img {
                height: 12px;
            }
        }
    }
}
