.c-section {
    position: relative;
    overflow: hidden;

    &__wrapper {
        white-space: nowrap;

        &.slider-animation {
            transition: all 0.8s ease-in;
        }

        &.animated {
            transform: translate3d(-90%, 0px, 0px);
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
